/********** Contact page styles **********/
.contact-box {
  max-width: 800px;
  padding: 30px;
  border: 1px solid #808080;
  margin: 80px auto;
  text-align: center;

  p {
    line-height: 3;
  }
}
