/********** Home page styles  **********/

// Header owl carousel
.owl-carousel-header {

  .tagline {
    @include position(absolute, 50% null null 50%);
    @include transform(translateY(-50%) translateX(-50%));
    z-index: 999;
    color: #fff;
    font-family: 'Poiret One', cursive;

    h1 {
      font-size: 5.4em;
      margin: 0 auto;
      line-height: 1.2;
    }

    p {
      font-size: 3em;
      font-style: italic;
    }

    .cta-button {
      margin-top: 40px;
      padding: 15px 20px;
      background-color: $mainColor;
      color: #fff;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: bold;
      font-size: 20px;
      display: inline-block;
      @include transition(all 0.2s ease);
      border: 1px solid $mainColor;

      &:hover {
        background-color: transparent;
        border: 1px solid #fff;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .owl-carousel {
        display: none;
    }
  }
}

.image-grid {
  @include display(flex);
  @include flex-wrap(wrap);
  margin: 0 auto;
  max-width: 1000px;

  &__item {
    position: relative;
    z-index: 0;
    display: block;
    width: 48%;
    text-align: center;
    margin-bottom: 25px;
    height: 0;
    padding-top: 30%;
    box-shadow: 0 0 9px 0px rgba(0, 0, 0, .75);
    overflow: hidden;

    &--featured-image {
      @include position(absolute, 0 null null 0);
      width: 100%;
      @include transition(all 0.5s ease);
      @include filter(brightness(50%));
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:after {
      display: none;
    }

    &:nth-child(odd) {
      margin-right: 25px;
    }

    p {
      @include position(absolute, 50% null null 50%);
      @include transform(translateY(-50%) translateX(-50%));
      color: #fff;
      text-transform: uppercase;
      vertical-align: middle;
      font-size: 1.5em;
    }

    &:hover {

      .image-grid__item--featured-image {
        @include transform(scale(1.2));
      }
    }

    @media screen and (max-width: $tablet) {
      width: 100%;
      padding-top: 50%;

      &--featured-image {
        width: 100%;
      }

      &:nth-child(odd) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: $mobile) {
      padding-top: 75%;
    }
  }
}

.external-links {
  max-width: 1000px;
  margin: 0 auto;
}