/********** Navigation styles **********/

// Main nav
.main-nav {
  border: 1px solid red;

  background-color: rgba(255, 255, 255, 0.8);

  &__list {
    list-style: none;
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-around);
    padding: 0 20px;

    .nav-logo {
      margin-right: auto;
      padding: 5px 0;
    }

    &--item {
      display: table;
      margin: 0 20px;
      height: 60px;

      a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: 0px 30px;
      }
    }
  }
}
