/********** Base styles **********/

// Global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

html {
  line-height: 1.7;
}

ul {
  list-style-position: inside;
}

// Grid
.main-content {
  @include grid-container;
  position: relative;
  background-color: #fff;
  margin: 0 auto 135px auto;
  padding: 15px;

  &__inner {
    max-width: 1500px;
    margin: 0 auto;
  }

  &:after {
    content: "";
    @include position(absolute, null null 0 0);
    width: 100%;
    box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.75);
    height: 10px;
  }

  &.no-banner {
    min-height: 500px;
  }
}

.section {
  padding: 20px 0;

  &__title {
    display: block;
    position: relative;
    line-height: 2;
    margin-bottom: 20px;
    text-align: center;

    span {
      display: inline-block;
      padding: 0 13px;
      background-color: #fff;
      font-weight: 600;
      font-size: 1.3em;
      color: $mainColor;
      position: relative;
      z-index: 1;
    }

    &:after {
      content: "";
      @include position(absolute, 50% null null 0);
      @include size(100% 1px);
      background-color: $mainColor;
      z-index: 0;
    }
  }
}

.text-section {
  margin: 30px auto 50px auto;
  max-width: 960px;
}

// Header
header {
  position: relative;
  overflow: hidden;

  .parallax-static-content { // Specific to parallax in the header
    position: relative;
    height: 30em;
    line-height: 1.3;

    .tagline {
      @include position(absolute, 56% null null 50%);
      @include transform(translateY(-50%) translateX(-50%));
      color: #fff;
      font-family: 'Poiret One', cursive;

      h1 {
        font-size: 5.4em;
        margin: 0 auto;
        @media (max-width: $mobile) {
          font-size: 3.4em;
        }
      }

      p {
        font-size: 3em;
        font-style: italic;
      }
    }
  }
}

.no-banner-header {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

// 404
.notfound {
  display: table;
  height: 200px;
  width: 100%;
  text-align: center;

  &__content {
    display: table-cell;
    vertical-align: middle;
  }
}

// Forms
form {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;

  .form-row {
    margin-bottom: 10px;

    .form-item {

      span {
        width: 100%;
        display: block;

        input,
        textarea {
          width: 100%;
          padding: 8px;
        }
      }

      input[type="submit"] {
        background-color: $mainColor;
        color: #fff;
        padding: 8px 12px;
        border: none;
        outline: none;
        cursor: pointer;
        @include transition(all 0.2s ease);

        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
}

// Footer
footer {
  text-align: center;
  display: table;
  @include size(100% 100px);
  @include position(fixed, null null 0 0);
  z-index: -1;
  padding: 30px 15px;

  .footer-content {
    display: table-cell;
    vertical-align: middle;

    .footer-social-links {
      list-style: none;
      display: block;
      margin: 0 auto;

      a {
        font-size: 28px;
        margin: 0 5px;
      }
    }
  }
}