/********** Base variable styles **********/

// Base grid
$maxWidth: 1300px;

// Base colors
$mainColor: #922D20;
$secondaryColor: #342420;
$mainBgColor: #F2F2F4;


// Links
$linkColor: $mainColor;


// Screen sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 960px;
$largedesktop: 1050px;
